<!DOCTYPE html>
<html><head></head><body style="color: rgb(32, 33, 34); font-family: Verdana; font-size: 12pt;"><ol>
<li>Download the template you want to use</li>
<li>Unzip the template</li>
<li>Either create a copy of the template with the desired project name or rename the template folder itself</li>
<li>Open with VSCode</li>
</ol>
<p>I would recommend using the optimized template, as it can significantly reduce the build time. If you encounter any issues with specific features not working for the problem statement you're addressing, be sure to check the <code>.mbedignore</code> file. The optimized template removes many unused libraries to streamline the recitations.</p></body></html>